div {
  font-style: normal;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 75px;
  color: #66BFBF;
  text-decoration: underline;
  font-family: 'Sacramento', cursive;
  width: 20%;
  margin: 50px auto 0 auto;
  padding: 50px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #B8FFF9;
  padding: 50px;
  position: relative;
  border-style: dashed;
  border-width: 3px;
}

.cloud {
  /*background-color: white;*/
  position: absolute;
  right: 300px;
}

/*.cloud:hover{
  background-color: black;
}*/
.p {
  text-decoration: underline;
}

.mountain {
  margin-bottom: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
}

hr {
  width: 100px;
  border-style: dotted;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-width: 5px;
  border-color:#EAF6F6;
}

.memoji {
  height: 150px;
  width: 150px;
  padding: 20px;
}
.skills {
  height: 800px;
  width:75%;
  margin: 0 auto;
}

.contact {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.skills {
  position: relative;
}

.web-img {
  float: left;
  margin-right: 30px;
  border-radius: 8;
  border-style: solid;
  border-color: black;
}

.sports-img{
  line-height: 2;
  float: right;
  border-radius:8;
  height:300px;
  width:600px;
  margin-left:30px;
  border-style: solid;
  border-color: black;
  margin-right:50px;
}
.btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 21px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
footer{
  background-color: #66BFBF;
  padding: 10px 0 30px 0;
}
.bottom{
  display: inline-block;
  margin-left: 40px;
}
a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #11999E;
}
a:hover{
  color:black;
}
